* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    color: white;
    user-select: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__text {
        font-family: 'Oswald';
        font-weight: 500;
        font-size: 1.7rem;
        padding: 0 25px;
        letter-spacing: 0.1rem;
    }
    &__svg {
        position: absolute;
    }
}

.neon {
    filter: url(#neon);
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #191920;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 20px 40px;
    & img {
        width: 32px;
        height: 32px;
    }
}
